
# Requisitos

- understand written and spoken English
- experience educating school age kids
- understand education as a experience that is playful and needs to focus on the kid

# Job

- 4 hours per day, 5 days a week.
- 4 daays teaching and 5th day preparing the week's schooling
- open to create/edit the curriculum with the parents
